button_quant/20250207-011718-d3_0_4_ADPR_100AF_PostWash_Quant/3/StitchedImages/BGSubtracted_StitchedImg_5_3_0.tif filter=lfs diff=lfs merge=lfs -text
chamber_quant/20250428_133901_15uM_NSP89/2/StitchedImages/BGSubtracted_StitchedImg_10_2_832.tif filter=lfs diff=lfs merge=lfs -text
